/* Content meta-data such as author, publication date, etc. */
.content-meta {
    display: block;
    font-size: 1.1rem;
    margin-top: 1em;
    width: 95%;
    max-width: 45rem;
}

.content-meta .tag {
  float: right;
  margin-left: 0.5rem;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
