{{ define "main" }}
<article id="main">
  {{ partial "content.header.html" . }}
  {{ partial "toc.html" . }}
  <section>{{ .Content }}</section>

  {{- if and (.IsPage) (not (.Params.hidemeta)) -}}
  <span class="content-meta">
    {{- if or (.Params.author) (.Site.Params.Author) -}}
    <span class="author">{{ default .Site.Params.Author .Params.author }}</span>
    {{- end -}}

    {{- if not .Params.hidedate -}}
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    {{- end -}}

    {{- if and (not .Params.hidereadtime) (not .Site.Params.hidereadtime) -}}
    <span class="read-time">{{ .ReadingTime }} min read</span>
    {{- end -}}

    <span class="post-tags">
    {{- range .Params.tags -}}
    <a class="tag" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{- end -}}
    </span>
  </span>
  {{- end -}}
</article>
{{ partial "footer.html" . }}
{{ partial "nav.html" . }}
{{ end }}
