{{ define "main" }}
<article id="main">
  {{ partial "content.header.html" . }}
  {{ partial "toc.html" . }}
  <section>{{ .Content }}</section>

  {{- if and (.IsPage) (.Params.meta) -}}
  <span class="content-meta">
    {{- if .Params.author -}}
    <span class="author">{{ .Params.author }}</span>
    {{- end -}}

    {{- if not .Params.hidedate -}}
    <span class="date">{{ .Date.Format "2006-01-02" }}</span>
    {{- end -}}

    {{- if not .Params.hidereadtime -}}
    <span>{{ .ReadingTime }} min read&nbsp;</span>
    {{- end -}}

    {{- range .Params.tags -}}
    <a class="tag" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>&nbsp;
    {{- end -}}
  </span>
  {{- end -}}
</article>
{{ partial "footer.html" . }}
{{ partial "nav.html" . }}
{{ end }}
